/* header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;

}
img
{
    vertical-align: middle;
}
section {
    width: 1280px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;  
}
header nav ul {
    display: flex;
    font-size: 18px;
}
header nav ul li {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center; 
}
header nav ul li:hover .depth2 {
    display: block;
    padding-top: 30px;
    background-color: rgb(255, 255, 255);    
   
}
header nav ul li .depth2 {
    display: none;
    font-size: 16px;
}

header nav ul li .depth2 li{
    height: 40px;
}
header nav ul li .depth2 li:hover{
    border-bottom: 4px solid #555555;
    transition: 0.6s;
    background-color: rgb(151, 151, 151);
}
header nav ul li .depth2 li:hover a{
    color: white;
}
/*  header .login{ 
    font-size: 13px;
    position: absolute;
    right: 8%;
    bottom: 77%;
}
header .login a:hover{
    border-bottom: black solid 1px;
    
}
*/

/* footer */

footer{
width: 100%;
height: 158px;
font-size: 14px;
background-color: #0E6063;
color: white;
}
.footer{
width: 1280px;
margin: auto;
}
footer ul{
margin-left: 29px;
padding-top: 21px;
width: 1280px;
height: 150px;
margin: auto;
}
footer ul li {
margin-top: 7px;
}
footer .sns{
float: right;
margin-top: 80px;
}
footer .sns a img{
margin-right: 20px;
width: 25px;

}
footer p{
float: right;
margin-right: 29px;
margin-top: 15px;
}

.far_away
{margin-bottom: 15px;}

/* sub4-1 고객의 소리 */
#section1{
position: relative;
margin: auto;
text-align: center;
}
#section1 > p{
position: absolute;
bottom: 50%;
left: 45%;
color: white;
font-size: 25px;
font-weight: bold;
}

#section1 div ul {   
display: flex;
justify-content: space-around;
align-items: center;
width: 1280px;
padding-left: 0;
}
#section1 div ul li {
width: 50%;
height: 65px;
line-height: 65px;
background-color: rgba(0, 0, 0);
}


#section1 div ul li:first-child {
background-color: #2a8183;
}

#section1 div ul li a {
color: white;
font-size: 22px;
font-weight: bold;
text-align: center;
}

form {
width: 765px;
/* outline: 1px solid red; */
margin: 0 auto;
}

input, textarea {
/* background: transparent; */
border: 1px solid #999;
padding: 5px 10px;
}

label {
display: block;
}

.input-box1 {
padding-top: 50px;
display: flex;
margin-bottom: 20px;
gap : 20px;
/* outline: 1px solid green; */
}

.input-box1 .col {
/* margin-left: 10px; */
width: 33.33%;
/* outline: 1px solid red; */
/* margin-left: 10px; */

}
.input-box1 .col input
{
  width: 100%;
}
.input-box2 input {
display: block;
width: 100%;
margin-bottom: 20px;
}

textarea {
width: 100%;
}

.input-box3 {
padding-bottom: 0;
}

.input-box4 {  
border: none;
}

#file {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 20px;
}

.input-box5 {
display: flex;
margin: 10px auto;
padding-bottom: 50px;
align-content: flex-start;
justify-content: center;
}

input[type="submit"]{
font-size: 18px;
padding: 10px 10px ;
color: white;
background: #333333;
}