/* header 공용*/
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
    
    }
    section {
        width: 1280px;
        margin: 0 auto;
    }

    header{
        width: 100%;
        height: 100px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 999;  
    }
    header nav ul {
        display: flex;
        font-size: 18px;
    }
    header nav ul li {
        width: 150px;
        height: 40px;
        line-height: 40px;
        text-align: center; 
    }
    header nav ul li:hover .depth2 {
        display: block;
        padding-top: 30px;
        background-color: rgb(255, 255, 255);    
       
    }
    header nav ul li .depth2 {
        display: none;
        font-size: 16px;
    }
    
    header nav ul li .depth2 li{
        height: 40px;
    }
    header nav ul li .depth2 li:hover{
        border-bottom: 4px solid #555555;
        transition: 0.6s;
        background-color: rgb(151, 151, 151);
    }
    header nav ul li .depth2 li:hover a{
        color: white;
    }
    header .login{
        font-size: 13px;
        position: absolute;
        right: 8%;
        bottom: 77%;
    }
    header .login a:hover{
        border-bottom: black solid 1px;
        
    }


/*sub 공통*/
    #section1{
        position: relative;
        height:376px;
        margin: auto;
        text-align: center;
        
    }
    #section1 > .title{
        position: absolute;
        bottom: 29%;
        left: 32%;
        color: white;
        font-size: 35px;
        font-weight: bold;
        padding: 100px 170px 100px 170px;
     
    }
 
    #section1 div ul {   
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1280px;
        position: absolute;
        bottom: 0.3px;   
     ;
    }
    #section1 div ul li {
        width: 50%;
        height: 65px;
        line-height: 65px;
        background-color: #18d0d3;
    }
    #section1 div ul li:hover a{
        border-bottom: 1px solid white;
    }
    #section1 div ul li:last-child{
        background-color: rgba(0, 0, 0, 0.7);
    }
    #section1 div ul li a{
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .slider{
        position: relative;
        width: 100%;
        height: 423px;
    }
    .slider > img{
       position: absolute;
       left: calc(50% - 1280px / 2 );  
    }

 /*footer 공통*/
    footer{
        width: 100%;
        height: 190px;
        font-size: 14px;
        background-color: #0E6063;
        color: white;
        
    }
    .footer{
        width: 1280px;
        margin: auto;
    }
    footer ul{
        margin-left: 29px;
        padding-top: 21px;
        width: 1280px;
        height: 140px;
        margin: auto;
    
    }
    footer ul li {
        padding: 10px;
    }
    footer .sns{
        float: right;
        margin-top: 100px;
    }
    footer .sns a img{
        margin-right: 20px;
        width: 25px;
     
    }
    footer p{
      
      margin-left: 10px;
      
    }



   
