*
    {margin:0;
    padding: 0;
    box-sizing: border-box;}

body
    {font-family: 'Noto Sans KR';}

a
    {color: white;
    text-decoration: none;}

ul li
    {list-style-type: none;}

.container
{
    display: inline-block;
    width : 1280px;
    margin : 0 auto;
}